@tailwind base;
@tailwind components;
@tailwind utilities;

.app-layout {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 60px;
    background-color: #319795; /* Dark teal */
    color: white;
    transition: width 0.3s;
  }
  
  .sidebar.expanded {
    width: 250px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .activity-feed {
    font-size: 0.875rem;
    color: #333;
  }
  
  .logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }

  .activity-container {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
}

.sidebar:hover .activity-container {
  opacity: 1;
  transform: translateY(0);
}

/* app/components/HomePage/index.css */

.home-container {
  display: flex;
  width: 100%;
}

.filters-container {
  width: 25%;
}

.movies-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}